body {
    margin: 0;

    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:rgba(0, 0, 0, 0.7);
    }

    main {
        height: 100vh;
        position: relative;
    }

    article:before {
        content: ' ';
        display: block;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.75;
        background-image: url("../img/fons.jpg");
        background-color: white;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #content {
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(9,9,121,0) 100%);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;

        .temps-container {
            padding: 1em;
            font-weight: bold;
            font-size: smaller;
            justify-self: flex-start;

            p:first-of-type {
                margin: 1rem 1rem 0;
            }

            p + p {
                font-size: 0.4rem;
                color: rgba(0, 0, 0, 0.25);
                margin: 0 1rem;

                a {
                    color:rgba(0, 0, 0, 0.4);
                }
            }
        }

        .joke-container {
            display: flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
            justify-content: space-evenly;
            width: 60%;
            height: 40%;
            background-color: white;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
            border-radius: 10px;

            span {
                display: inline-flex;
                font-size: 1.5rem;
            }

            p {
                padding: 0 3em;
                font-weight: 600;
                font-size: 90%;
                
                @media (max-height: 500px) {
                    font-size: 75%;
                }
            }

            header #from {
                margin-top: 0;
                font-size: 0.8rem;
                color: #aeaeae;
                text-align: center;

                @media (max-height: 500px) {
                    font-size: 0.70rem;
                }
            }
    
            header h1 {
                margin-bottom: 0;

                @media (max-height: 500px) {
                    margin-top: 0.5rem;
                    font-size: 1.2rem;
                }
            }

            @media (max-width: 575px) {
                width: 75%;
            }

            @media (max-height: 500px) {
                height: 75%;
            }
            
        }

        button {
            margin-bottom: 1rem;
            width: 150px;
            height: 50px;
            background-color: #3ED3DD;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 10px;

            &:hover {
                cursor: pointer;
            }

            @media (max-height: 500px) {
                padding: 10px;
                font-size: 3vh;
                height: fit-content;
                border-radius: 5px;
                margin-bottom: 0.5rem;
            }
        }

        footer p {
            color: rgba(0, 0, 0, 0.5);
            text-align: right;
            padding-right: 1em;
            font-size: 0.8rem;

            a {
                color: rgba(0, 0, 0, 0.5);
            }

            @media (max-height: 500px) {
                font-size: 0.6rem;
            }
        }
    }
}